- cache @date do
  #on_date_chart
    #select_date
      %span#title Choose day:
      = text_field_tag :date, @date, id: :datepicker
    #carrency
      %span#title Period data:
      %span.name Average:
      %span#average 0
      %span.name Max:
      %span#max 0
      %span.name Min:
      %span#min 0
    #highchart_game_online_on_date
